
<div style="position: relative;">
    <canvas #canvas height="600" width="1200"></canvas>
</div>

<ng-image-slider
    [images]="gallery"
    [imagePopup] = "false"
    (arrowClick) = "onArrowClicked($event)"
    (imageClick)="onGalleryImageClick($event)"
    [imageSize]="imageSize"
    #nav>
</ng-image-slider>

<div style="display: block;">
    frame rate:  <input type="number" [(ngModel)]="fps" > 
    frame number:  <input type="number" [(ngModel)]="frameNumber"> 
    <button (click)="onGoButtonClicked()">Go</button>
    <button (click)="onClearImageClicked()" mat-raised-button color="warn" style="float: right;">Clear Image</button>

</div>

<div style="display: block;">
    skip frames: <input type="number" [(ngModel)] = "framesToSkip">
    <button (click)="onSkipButtonClicked()" >Skip</button>
</div>

<button mat-raised-button (click)="onSaveButtonClicked()" class="center" color="primary">Save</button>

<button mat-raised-button (click)="onShowDiffClicked()" color="accent" class="center">Show Diff</button>



